@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: #d4d4d4;
}
.yRemoteSelection {
  background-color: rgba(250, 129, 0, 0.5);
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border: 3px solid orange;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}